body, td, th, input, select, textarea {
	font:13px Tahoma;
}
body{
	margin:0;
	padding:0;
	line-height: 1.4em;
	color: #2b2b2b;
}
a{
	text-decoration:none;
	color:#657609;
}
a:hover{
	color: #000;
  text-decoration:none;
}
div, h1, h2, h3, h4, h5, h6, img, form, table, tr, th, td, dl, dt, dd {
	margin:0;
	padding:0;
	border: 0;
}
p {
  margin: 0 0 1em 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* fixed IE images scaling */
}
table {
	width: 100%;
	empty-cells: show;
	border-spacing: 0;
}
h1 {
  line-height:1.4em;
}
h2 {
  line-height:1.3em;  
}
h3 {
  line-height:1.2em;  
}
h4{
  line-height:1.1em;  
}
h5{
  line-height:1.05em;  
}
h6{
  line-height:1.05em;  
}
h1 {
	font-size:1.4em;
}
h1 span{
	font-weight:normal;
}
h1,
h1 a,
h1 a:hover {
	color: #050505;
}
h2 {
	font-size: 1.2em;
}
h2,
h2 a
h2 a:hover {
  color: #000;
}
h3 {
	font-size: 1.1em;
}

ul, ol {
	margin: 0.5em 0 0.5em 1em;
	padding: 0 0 0 1em;
}
li {
	margin: 0.2em 0 0.2em 0;
}
small {
  font-size: 0.9em;
  font-weight: normal;
}
hr {
  padding: 0;
  margin: 20px 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
}
.clear {
	clear:both;
	line-height:0;
	height:0;
}
.fr { float: right }
.fl { float: left }
.cl { clear: left }
.cr { clear: right }
.cb { clear: both }
.r { text-align: right }
.c { text-align: center }
.b { font-weight: bold }
.hint { color: #57452D; }
.breadcrumb,
.breadcrumb a {
  font-size: 0.9em;
  color: #888;
  margin: 1.2em 0;
}
.breadcrumb {
  word-spacing: 0.3em;
}
.breadcrumb a:hover {
  color: #666;
  text-decoration: none;
}

/*------------------ form ------------------*/
form fieldset,
form .checkbox,
form .select {
	margin: 0;
	padding: 0;
  border: 0;
}
form .box {
  background-color: #f9f9f9;
  border: 2px solid #efefef;
}
form .text,
form .textarea,
form .select {
	border: 1px solid #d7d7d7;
  width: 100%;
}
form dl .optional {
  color: #757575;
}
form dt {
  padding: 4px;
  font-weight: bold;
}
form dd {
	padding: 4px 7px 4px 4px;
}
form legend,
form h2 {
  margin: 0;
  padding: 0.5em 0;
  text-indent: 0.5em;
	font-weight: bold;
	/*color: #004993;*/
  color: #333;
	font-size: 1.1em;
  background-color: #f1f1f1;
  width: 100%;
}
form .error {
	background-color: #ffe4ea;
}
form .single,
form .double,
form .triple,
form .quadruple {
  float: left;
	width: 25%;
	margin: 5px 0;
}
form .double {
  width: 50%;
}
form .triple {
  width: 75%;
}
form .quadruple {
  width: 100%;
}
form .mce_page,
form .mce_comment,
form .mce_description {
  border: 0;
}
/* .note places same line with input
  .hint places below input */
form .note,
form .hint {
  font-size: 90%;
  color: #888;
  font-weight: normal;
  padding-top: 0.5em;
}
form .hint {
  padding: 0;
}
form .submit {
  padding: 7px;
  margin: 10px 0 0 0;
}
form .submit .button {
  padding: 0.3em 1.5em;
  background-color:#545454;
  color: #fff;
}
form p {
  line-height: 2.2em;
}
form .hint_area {
  border:2px solid #f1f1f1;
  background-color: #f8f8f8;
  color: #666;
}

/*------------------ form response ------------------*/
#response {
}
#response ul,
#response li {
	padding: 0;
	margin: 0;
  list-style: none;
}
#response .fatal,
#response .success {
	padding: 1em;
  margin: 0 0 10px 0;
}
#response .fatal {
	/*color: #fff;
	background-color: #92224b;*/

	color: #a00029;
  border-top: 1px solid #faafb5;
  border-bottom: 1px solid #faafb5;
  background-color: #ffeff3;
}
#response .fatal ul {
	padding: 0.5em 14px 0 14px;
	margin: 0;
}
#response .fatal li {
	padding: 0.3em 0;
	list-style: disc;
}
#response .fatal dt,
#response .fatal dd {
  padding-left: 20px;
}
#response .fatal dt {
	background: url('exclamation.png') no-repeat center left;
}
#response .success {
	color: #4d7c09;
  border-top: 1px solid #ceef9e;
  border-bottom: 1px solid #ceef9e;
  background-color: #e9fad0;
}
#response .success dt {
  padding-left: 20px;
	background: url('tick.png') no-repeat center left;
}
#response .warning {
	color: #fff;
	background-color: #92224b;
}

/*------------------ curved ------------------*/
.curved,
.small_curved,
.small_curved_top,
.medium_curved,
.button {
  border: 0 solid #fff;
}
.curved {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
	border-radius: 10px;
}
.small_curved {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;
}
.small_curved_top {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-topleft: 5px;
	-webkit-border-radius-topright: 5px;
	-border-radius-topleft: 5px;
	-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.medium_curved {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-border-radius: 8px;
	border-radius: 8px;
}

/*------------------ sprites ------------------*/
.widgets {
  background: url('widgets.png') no-repeat;
}
.banners {
  background: url('banners.png') no-repeat;
}
.buttons {
  background: url('buttons.png') no-repeat;
}
.bullet {
  background: url('bullets.png') no-repeat;
}
/*------------------ layout ------------------*/
body{
	background:url("body_bg.jpg") repeat center top;
}
#outer_wrapper {
	background: url('outer_bg.png') no-repeat center top;
}
#header,
#content_wrapper,
#footer{
	width: 945px;
	margin: 0 auto;
}
#content_wrapper {
}
#header {
	height:464px;
	position:relative;
}
#header .logo_wrapper,
#header .logo {
	display: block;
  width: 280px;
  height: 75px;
}
#header .logo_wrapper {
	position:absolute;
  z-index: 10;
  overflow: hidden;
	top:15px;
	left:0px;
}
#header .logo_wrapper .logo {
  background: transparent no-repeat left top;
}
#header .site_name {
	font-size: 3.6em;
	line-height:1.1em;
	color: #657609;
	margin: 0px 0 0 0;
}
#header .site_slogan {
	font-size: 0.9em;
	color: #303030;
}
#header .account_wrapper {
	width: 425px;
	height: 60px;
	overflow: hidden;
	position:absolute;
	top:20px;
	left:298px;
	color:#645D4D;
}
#header .account {
}
#header .account form,
#header .account ul {
	float: right;
}
#header .account fieldset,
#header .account fieldset .text {
	padding: 0;
	margin: 0;
	border: 0;
}
#header .account fieldset .text {
	width: 90px;
	border: 1px solid #cecece;
}
#header .account fieldset .button {
	background-color: #433220;
	color: #fff;
	font-size: 0.9em;
}
#header .account ul,
#header .account li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#header .account li {
	float: left;
	margin: 0 0 0 1.5em;
}
#header .account h2 {
	margin: 0;
	padding: 0;
	width: 120px;
	overflow: hidden;
}
#header .nav {
	width: 724px;
	height: 25px;
	overflow: hidden;
	position:absolute;
	top:85px;
	right:222px;
	text-align:right;
}
#header .nav a {
	margin: 0 0.4em;
	padding:2px 5px;
	font-size: 1.2em;
	color: #432308;
	display: inline-block;
	text-decoration:none;
}
#header .nav a span {
	margin: 0 0.2em;
}
#header .nav a:hover {
	color: #fff;
	background-color:#657609;
}
#header .cart_status {
	width: 112px;
	height: 58px;
	overflow: hidden;
	position:absolute;
	top:30px;
	left:803px;
	text-align:center;
}
#header .cart_status span {
	display: block;
	line-height: 1.1em;
}
#header .cart_status a {
	color:#ffffff;
}
#header .cart_status a:hover {
}
#header .cart_status strong {
	font-size: 1.2em;
}
#header .cart_status .icon {
	display: block;
  background-position: 0 -175px;
	width:20px;
	height:20px;
	margin:0 auto 10px auto;
}
#header .notice_wrapper {
	width: 252px;
	height: 160px;
	overflow: hidden;
	position:absolute;
	top:163px;
	left:677px;
}
#header .notice h1 {
	font-size:1.8em;
	height:25px;
	margin-left:70px;
}
#header .notice ul,
#header .notice li {
	margin: 0;
	padding: 0;
}
#header .notice ul {
	margin: 8px;
	max-height: 108px;
	overflow: hidden;
}
#header .notice li {
	padding: 4px 0 4px 18px;
	border-bottom: 1px dotted #4e4e4e;
	background:url("bullet_article.png") no-repeat 0 5px;
	font-size:1em;
	line-height:1.2em;
}
#header .notice li  a{
	color:#000000;
}
#header .notice li  a:hover{
	color:#657609;
}
#header .notice li small{
	color:#4a4a4a;
}
#header .social_wrapper {
	position:absolute;
	top:390px;
	left:674px;
	width:275px;
	height:48px;
	z-index:100;
	text-align:center;
}
#header .social_wrapper h2 {
	color:#fff;
	font-size:1em;
	line-height:0.6em;
}
#header .social a{
}
#header .social span {
	width:48px;
	height: 49px;
	display: block;
	margin-right:2px;
	float:left;
}
#header .social .follow {
	width:101px;
	background-position: -0px -93px;
}
#header .social .fb {
	background-position: -197px -93px;
}
#header .social .tw {
  background-position: -149px -93px;
}
#header .social .yt {
	background-position: -101px -93px;
}
#header .highlight_wrapper {
	width:600px;
	height:240px;
	overflow:hidden;
	position:absolute;
	top:179px;
	left:24px;
}
#header .highlight,
#highlight li span {
	width: 600px;
	height: 240px;
	overflow:hidden;
}
#highlight,
#highlight li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#highlight {
}
#highlight li span {
	background: transparent no-repeat center center;
	display: block;
	overflow: hidden;
}
.bx-pager{
	position:absolute;
	bottom:5px;
	right:20px;
	width:200px;
	height:25px;
	text-align:right;
}
.bx-pager a{
	color:#111;
	background-color:#fff;
	margin:0 0 0 5px;
	padding:1px 6px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -border-radius: 30px;
  border-radius: 30px;
	font-size:0.85em;
}
.bx-pager a:hover{
	color:#fff;
	background-color:#111;
}
#header .search_wrapper {
	position:absolute;
	top:332px;
	left:703px;
	width:226px;
	height:33px;
	background-position: 0px -142px;
}
#header .search {
}
#header .search fieldset,
#header .search fieldset .text {
  padding: 0;
  margin: 0;
  border: 0;
}
#header .search fieldset .text {
  width: 166px;
  margin: 5px 9px;
  height: 22px;
		background:none;
}
#header .search fieldset .button {
  width: 33px;
  height: 33px;
  margin-left: 4px;
  background: transparent no-repeat top left;
}
#content_wrapper {
  clear: both;
}
#sidebar1 {
  float: left;
  width: 200px;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
}
#sidebar1 .sidebar {
  margin: 0 0 20px 0;
  display: block;
}
#sidebar1 .sidebar ul,
#sidebar1 .sidebar li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar1 .sidebar form {
}
#sidebar1 .sidebar li {
  border-bottom: 1px dotted #6d5744;
}
#sidebar1 .sidebar li a {
  display: block;
  padding: 0.2em 0;
  font-weight: bold;
		text-align:center;
		color:#fff;
}
#sidebar1 .sidebar li a:hover {
	color:#657609;
	text-decoration:none;
}
#sidebar1 .sidebar .widgets-container li a {
	display: block;
	padding: 0.2em;
	font-weight: bold;
	text-align:center;
	color:#fff;
}
#sidebar1 .nav-left .widgets-container .active a,
#sidebar1 .sidebar .widgets-container li a:hover {
	color:#657609;
	text-decoration:none;
	background-color:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;
}
#sidebar1 h2 {
	height: 33px;
}
#sidebar1 .category_wrapper{
	padding-top:77px;
	background-position:0px -263px;
	margin-bottom:25px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottomright: 5px;
	-border-radius-bottomleft: 5px;
	-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#sidebar1 .category{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottomright: 5px;
	-border-radius-bottomleft: 5px;
	-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin:0px;
	padding:0px 10px 10px 10px;
	width:180px;
	background-color:#432308;
}
#sidebar1 .topic{
	color:#e8dfcc;
	height:26px;
}
#sidebar1 .topic span{
	display:block;
	margin:4px 0 0 0;
	height:20px;
	overflow:hidden;
	font-size:0.9em;
	font-weight:normal;
}
#sidebar1 .collection h2 {
	background-position: 0 0px;
}
#sidebar1 .brand h2 {
	background-position: 0 -31px;
}
#sidebar1 .type h2 {
	background-position: 0 -62px;
}
#sidebar1 .collection ul,
#sidebar1 .brand .widgets-container,
#sidebar1 .type .widgets-container {

}
#sidebar1 .collection ul {
}
#sidebar1 .brand .widgets-container {
}
#sidebar1 .type .widgets-container {
}
#sidebar1 .banner span {
	width: 200px;
	height:54px;
	overflow: hidden;
	display:block;
	margin-bottom:3px;
}
#sidebar1 .banner span img {
  margin: 0 auto;
}
#sidebar1  .banner .signup{
	background-position:0 0px;
}
#sidebar1  .banner .contact{
	background-position:0 -54px;
}
#sidebar1  .banner .how_to_buy{
	background-position:0 -108px;
}
#sidebar1  .banner .notify_payment{
	background-position:0 -162px;
}
#sidebar1 .banner ul {
	padding:0;
	margin:0;
}
#sidebar1 .banner li {
	border:none;
	margin:10px 0;
}
#sidebar1 .stats {
	background-position: 0 -195px;
	height: 68px;
}
#sidebar1 .stats dl {
	padding: 10px;
}
#sidebar1 .stats dt,
#sidebar1 .stats dd {
  line-height: 1.3em;
}
#sidebar1 .stats dt {
  width: 80px;
  float: left;
  text-align: right;
  margin: 0 8px;
}
#sidebar1 .stats dd {
  float: left;
  text-align: right;
}
#main {
	width: 720px;
	float: right;
	overflow: hidden;
}
#main .main {
  margin:0px 0 0px 0;
	padding:20px 0 0 0;
}
#frontpage .message_wrapper ,
#main .page  ,
#main .page2{
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid #beb6ae;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
	border-radius: 10px;
}
#main .page {
	min-height:740px;
}
#main .page2 {
	padding-bottom:15px;
}
#main .page h1 span,
#main .page2 h1 span{
	margin-top:-15px;
	margin-left:20px;
}
#main .page h1 {
	background: url('main_heading_bg.png') no-repeat left top;
}
#main .page h1 span {
	display: inline-block;
	padding: 30px 0px 10px 55px;
	background: url('main_heading_tail1.png') no-repeat left top;
}
#main .padding {
	padding:10px 20px  20px  20px;
}
#main .page2 h1 span {
	display: inline-block;
	padding: 30px 0px 10px 67px;
	background: url('main_heading_tail2.png') no-repeat left top;
}
#main .message_wrapper {
}
#main .message {
  padding: 10px;
}

#footer_wrapper {
	background-color:#574633;
	clear: both;
	margin-top:25px;
}
#footer {
	padding: 20px 0;
}
#footer .nav {
	margin: 0 0 10px 0;
	text-align:center;
}
#footer .nav {
}
#footer .nav a {
	margin: 0 2em 0 0;
	color:#fff;
}
#footer .nav a:hover {
	color:#657609;
}
#footer .copyright {
	font-size: 0.9em;
	text-align:center;
}
#footer .copyright,
#footer .copyright a {
	color: #AC9985;
}

/*------------------ cart ------------------*/
#cart .items,
#cart .items tr,
#cart .items th,
#cart .items td {
  margin: 0;
  padding: 0;
}
#cart .items th,
#cart .items td {
  padding: 6px 3px;
  border-bottom: 1px dotted #cdcdcd;
}
#cart .items th {
  border-top: 1px dashed #212121;
  border-bottom: 1px dashed #212121;
}
#cart tr .image {
  width: 50px;
}
#cart tr .image div {
  height: 50px;
  background: #fff no-repeat center center;
}
#cart tr .title {
}
#cart tr .quantity {
  width: 110px;
  text-align: right;
  color: #6b6b6b;
  font-size: 90%;
  padding-right: 10px;
}
#cart tr .quantity input {
  width: 30px;
}
#cart tr .line_price {
  width: 80px;
  text-align: right;
}
#cart tr .remove {
  text-align: center;
  width: 60px;
}
#cart .summary {
  padding: 6px;
  font-size: 1.2em;
  margin: 10px 0;
}
#cart .summary .total_price {
  color: #2b5e53;
  font-weight: bold;
}
#cart .update_cart,
#cart .checkout {
  width: 85px;
  height: 27px;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#cart .checkout {
  background-position: 0 -27px;
}
#cart .update_cart {
  background-position: 0 -54px;
}
/*------------------ pagination ------------------*/
#pagination {
	line-height:2em;
	clear: both;
	padding: 1em 0 2em 0;
	color: #737373;
}
#pagination .total {
	float: left;
	text-align: left;
	padding-right: 15px;
	color: #aaa;
}
#pagination .pages {
	float: left;
	text-align: left;
	word-spacing: 0.5em;
}
#pagination .current,
#pagination a {
  padding: 0.2em 0.5em;
  border: 1px solid #ececec;
}
#pagination .current {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
#pagination a {
	color: #333;
	text-decoration: none;
  background-color: #fff;
}
#pagination a:hover {
  color: #657609;
  border: 1px solid #657609;
}
#pagination .disabled {
	color: #999;
}
/*------------------ blog ------------------*/
#blog {
}
#blog ul,
#blog li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#blog li {
  padding: 1em 0;
  border-bottom: 1px dotted #4E4E4E;
}
#blog .author,
#article .author {
  padding-bottom: 1.5em;
  color: #555;
  font-size: 0.9em;
}
#blog .image,
#blog .details {
  float: left;
}
#blog .image {
  margin: 0 15px 0 0;
  width: 100px
}
#blog .details {
  width: 545px;
  overflow: hidden;
}
#blog .featured_image {
  width: 100px;
  height: 100px;
  background: #fff no-repeat center center;
  border:1px solid #eee;
  display: block;
}

/*------------------ page ------------------*/
#page a,
#article a,
#blog a,
#discussions a {

}
#page a:hover,
#article a:hover,
#blog a:hover,
#discussions a:hover {

}

/*------------------ listing ------------------*/
.listing ul,
.listing li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.listing p {
  margin: 0.2em 0 0 0;
}
.listing th {
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
  color: #57452D;
	border-top: 1px dashed #212121;
  border-bottom: 1px dashed #212121;
}
.listing td {
	border-bottom: 1px dotted #cdcdcd;
	padding: 0.5em;
}
.listing th,
.listing td {
	line-height: 1.5em;
	vertical-align: top;
}
.listing .middle,
.listing .middle td {
  vertical-align: middle;
}
.listing .even {
	/*background-color: #f5f5f5;*/
}
.listing .odd {
}
.listing .hover {
	background-color: #f5f5f5;
}
.listing tr .empty {
  border: 0;
}
.listing .hidden td {
	color: #8d8d8d;
}

.listing .status span {
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
}
.listing .status .featured {
  background: url('star.png') no-repeat top left;
}
.listing .status .closed {
  background: url('lock.png') no-repeat top left;
}
/*------------------ discussions ------------------*/
#discussions .listing .count,
#discussion .listing .date {
  width: 100px;
}
#discussion .listing .count {
  width: 80px;
}
#discussion .listing .status {
  width: 20px;
}

#discussions p {
  margin: 1em 0 0 0;
}
#discussion .original_post {
  margin: 0 0 20px 0;
}
#discussion .original_post .fr{
  margin: 10px 0;
}
#discussions .original_post .body {
  width: 100%;
  overflow: auto;
}

#discussion .comment_form {
  padding: 8px;
  margin: 10px 0 0 0;
}
#discussion .comment_form a{
}

/*------------------ comments ------------------*/
.comment {
}
#comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#comments li {
  margin: 0.5em;
  padding: 0.5em;
}
#comments li .meta {
  float: right;
  width: 90%;
  padding: 10px;
  border: 1px dotted #ccc;
  background-color: #f8f8f8;
}
#comments li .number {
  font-weight: bold;
}
#comments .hidden,
#comments .hidden a{
  color: #999;
}
#comments .avatar {
  float: left;
  width: 42px;
}
#comments .body {
  overflow: auto;
  margin: 1em 0 0 0;
}

/*------------------ product ------------------*/
#main #product h1 {
	border-bottom:1px dashed #817a6f;
	padding:0;
	margin:0 0 20px 0;
	background:none;
}
#product .image {
	float: left;
}
#product .description a {
  color: #fe4974;
}
#product .description a:hover{
  color: #fe4974;
}
#product .details {
	float: right;
	width: 380px;
  overflow: auto;
	margin:0;
}
#product .details ul,
#product .details li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#product .details li,
#product .details p{
  padding: 15px 0;
  border-bottom:1px dotted #eaeaea;  
}
#product .details form {
  margin: 0 0 10px 0;
}
#product .details p{
  margin: 0.5em 0 0.5em 0;
}
#product .details .variants,
#product .details .variants li,
#product .details .variants input {
	padding: 0;
	margin: 0;
}
#product .details .variants li {
	list-style: none;
	/*line-height: 2em;*/
	padding-bottom: 0.5em;
}
#product .details .quantity{
	float: left;
	padding-right: 10px;
	height:27px;
	line-height:27px;
}
#product .details .quantity input {
  width: 30px;
}
#product .featured_image {
	width: 240px;
	height: 240px;
	background: #fff no-repeat center center;
	border:1px solid #eaeaea;
	display: block;
}
#product .all{
  padding:0;
  margin: 20px 0;
}
#product .all ul,
#product .all li{
  list-style:none;
  padding:0;
  margin:0;
}
#product .all li{
  text-align:center;
  margin: 0 0 20px 0;
}
#product .textbox {
	font-size: 90%;
}
#product .price {
/*	color: #ff6b83;*/
/* color: #cb6ec5;*/
}
#product .compare_at_price  {
	text-decoration: line-through;
}
#product .description {
	overflow: hidden;
  padding: 20px 0;
}
#product .extra_images {
	padding: 0;
  margin: 10px 0 0 0;
  float: left;
  width: 242px;
}
#product .extra_images ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#product .extra_images li span {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: transparent no-repeat center center;
	margin: 0 11px 10px 0;
	border: 1px solid #eaeaea;
}
#product .extra_images .last span {
  margin: 0 0px 10px 0;
}
#product .buy {
  float: left;
		margin:0 0 0 40px;
}
#product .buy .add_to_cart {
	width: 85px;
	height: 27px;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

/*------------------ collection ------------------*/
#collection .breadcrumb,
#collection .breadcrumb a{
	font-size: 0.9em;
	margin: 0.5em 0;
}
#collection .breadcrumb{
	padding:0 20px;
}
#collection .padding {
	padding:20px;
}
#collection .subcategory{
	padding:0 30px;
	margin:10px 0 0 0;
}
#collection .subcategory a{
	display:inline-block;	
	padding:3px 5px;
	margin:0 5px 10px 0;
	color:#657609;
	background-color:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;	
}
#collection .subcategory a:hover{
	color:#fff;	
	background-color:#dcc38d;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;		
}
#collection .grid,
#collection .grid li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#collection .grid li {
  float: left;
  width: 160px;
  height: 250px;
  margin: 0 7px 15px 0;
	position:relative;	
}
#collection .grid li .soldout{
		width: 127px;
		height: 90px;
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		background: url('soldout.png') no-repeat left top;
}
#collection .image {
  height: 160px;
  overflow: hidden;
  margin: 0 0 5px 0;
  display: block;
  background: #fff no-repeat center center;
}
#collection .title {
	height: 42px;
	overflow: hidden;
	line-height: 1.2em;
	margin: 5px 0 10px 0;
	font-size: 0.9em;
}
#collection .title a {
  color: #2b2b2b;
}
#collection .title a:hover {
}
#collection .price {
  color: #57452d;
  font-weight: bold;
  float: left;
  font-size: 1.1em;
  margin: 1px 0 0 0;
}
#collection .buy {
  float: right;
}
#collection .buy a {
	color: #fff;
	background-color:#657609;
	padding:1px 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	border-radius: 2px;
	font-size:0.9em;
}
#collection .buy a:hover {
	color: #fff;
	background-color:#2b2b2b;
}
#collection .buy .add_to_cart {
  width: 33px;
  height: 28px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-position: 0 -81px;
}
#collection .description {
  padding: 6px;
}

/*------------------ frontpage ------------------*/
#frontpage{
	position:relative;
	margin:0px 0 0 0;
}
#frontpage .page {
	min-height:inherit;
}
#frontpage .heading {
	margin:-20px 0 0 0;
	padding:30px 0 0px 70px;
	background:url('main_message_tail1.png') no-repeat left top;
	height:71px;
	position:absolute;
	top:0px;
	left:20px;
}
#frontpage .heading h1 {
}
#frontpage .welcome {
	margin: 20px 0 20px 0;
}
#frontpage .padding {
	padding:40px 20px 20px 20px;
}
#frontpage .column {
}
#frontpage .column ul,
#frontpage .column li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#frontpage .column ul {
	margin: 1em 1.5em;
}
#frontpage .column li {
	margin: 0.2em 0;
	padding: 0 0 0 18px;
}
#frontpage .column small {
	font-size: 0.85em;
	color: #888;
	margin: 0 0 0 0.5em;
}
#frontpage .discussions li {
	padding: 4px 0 4px 18px;
	border-bottom: 1px dotted #4E4E4E;
	background-position: 0 9px;
}
#collection .padding {
	padding:10px 20px;
}
#discussion .padding,
#page .padding,
#frontpage .message .padding{
	overflow:auto;
}